.nav-links div a {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  transition: 0.2s ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-links div a:hover {
  transform: scale(1.1);
  background-color: var(--color-slate-100);
  color: black;
}
.login-box {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  gap: 10px;
}

@media (max-width: 768px) {
  .login-box {
    padding: 8px 12px;
  }
}
